@namespace KidsAbroad.Components.Pages
@page "/children"
@attribute [StreamRendering]
@rendermode InteractiveServer

@using KidsAbroad.Models
@using KidsAbroad.Data

<PageTitle>Children</PageTitle>

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Перелік дітей</h1>

    <button class="btn btn-success" @onclick="GoToCreate">
        Нова дитина
    </button>
</div>

@if (children == null)
{
    <p><em>Завантаження...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ПІБ дитини</th>
                <th>Дата народження</th>
                <th>Країна перебування</th>
                <th>Опікун</th>
                <th>Статус</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var child in children)
            {
                <tr>
                    <td>@child.FullName</td>
                    <td>@child.BirthDate.ToString("dd.MM.yyyy")</td>
                    <td>@child.Country</td>
                    <td>@child.Guardian</td>
                    <td>@child.Status</td>
                    <td>
                        <a class="btn btn-primary btn-sm"
                           href="@($"/children/{child.ChildID}")">
                            Картка дитини
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<h3>Звіт Power BI</h3>

<iframe title="діти" width="1209" height="700"
        src="https://app.powerbi.com/view?r=eyJrIjoiYjJmMzlmZTctODcyMC00NGMzLWI5OTMtNTRmMzFjZmUzMjBkIiwidCI6IjNlYTgwOWJmLTFlNzMtNGFmMC04ZTk0LTZlMDQ1N2Y1MDYyNCIsImMiOjl9"
        frameborder="0">
</iframe>

@code {
    [Inject] private NavigationManager Navigation { get; set; } = default!;

    private List<Child>? children;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(200); // просто імітація завантаження
        children = ChildStore.GetAll().ToList();
    }

    private void GoToCreate()
    {
        Navigation.NavigateTo("/children/new");
    }
}
